#gameBoardDiv {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    break-inside:avoid;
  }

#gameBoardDiv > div {
    padding: 10px;
    background-color: #00BFB3;
    border-radius: 5px;
    display: grid;
    place-items: center;
}  

h1 {
    color: black;
    text-align: center;
}

.column-container{
    display: flex;
    justify-content: center;
}

.player{
    width: 100px;
    margin: 10px;
}

#winnerDisplayId{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #023436;
    /* height: 5rem; */
    width: 10rem;
    text-align: center;
    padding: 20px 0;
    color: white;
}

.center-container{
    display: flex;
    justify-content: center;
}

.button-container{
    display: flex;
    justify-content: center;
    float:center;
    flex: 1;
    margin-top: 20px;
}

.alert{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #023436;
    /* height: 5rem; */
    width: 10rem;
    text-align: center;
    padding: 20px 0;
    color: white;
}